* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #ff0000;
}
/* .head{
        width: 100%;
        padding: 0px 40px;
        line-height: 100px;
    } */
/* .head h1{
        font-size: 30px;
        color: black;
        padding: 0px 40px;
        line-height: 100px;
        background: white;
        font-family: sans-serif;
    } */

/* .nav li{
        list-style-type: none;
        display: inline-block; 
        padding: 10px 40px;
        text-align: center;
        border-left: 1px solid white;
        color: white;
        font-size: 18px;
    } */
.nav {
  position: fixed;
}
.box {
  font-size: 25px;
}

body {
  text-align: center;
}

.float {
    float: left;
}